In [1]:
import numpy as np
import pandas as pd

## 01
- La serie de Fibonacci es una sucesión de números, en la cual cada número es la suma de los dos anteriores. Los dos primeros son siempre 0 y 1.
  - $F_0 = 0$
  - $F_1 = 1$
  - $F_n = F_{n-1} + F_{n-2}$
- Crear una serie de Fibonacci hasta un número *n* usando una función lambda.

In [3]:
expected_fibo_serie = [0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,1597]
fibo_serie = fibonacci_lambda(len(expected_fibo_serie))  # This calls your lambda function fibonacci_lambda
print(fibo_serie)
assert(expected_fibo_serie == fibo_serie)  # This will fail if the serie is not correct

NameError: name 'fibonacci_lambda' is not defined

In [9]:
fibonacci_lambda= lambda x: [0] if x==1 else [0,1] if x==2 else fibonacci_lambda(x-1)+[fibonacci_lambda(x-2)[-1] + fibonacci_lambda(x-1)[-1]]
fibo_serie = fibonacci_lambda(len(expected_fibo_serie))
print(fibo_serie)

AttributeError: 'NoneType' object has no attribute 'append'

In [4]:
def find_duplicates(numbers):
    return pd.Series(numbers).duplicated()

numbers = np.array([4, 4, 4, 3, 8, 1, 9, 6, 1, 5, 9, 4, 0, 2])
output = find_duplicates(numbers)   # This calls your function find_duplicates
print(output)

0     False
1      True
2      True
3     False
4     False
5     False
6     False
7     False
8      True
9     False
10     True
11     True
12    False
13    False
dtype: bool

In [9]:
serie = pd.Series([1, 'dos', 3.0, True, 'cinco', 6, 7.0, False, 'ocho', 9], index=list("abcdefghij"))
print(serie.loc[:"d"]==serie.iloc[:4])

a    True
b    True
c    True
d    True
dtype: bool

In [10]:
data=np.random.randint(21, size=(10,10))
df=pd.DataFrame(data)
display(df)

    0   1   2   3   4   5   6   7   8   9
0   1   7  10   1   8   5  11   2  20  15
1   7   4  10  13  10   1   4   8   0  18
2   4  12  17  16   1   7   8  17  14   9
3   4  12   4  11  18   0   0   6   2   6
4   5   8   1  15  15   8   2  12  11  20
5   2  13   9   3  16   1   1  17   1   8
6  15  19   4   9  14  19  12  18  19   7
7  17   3   8   8   4   8  16  11   1  13
8  11  10  19  13  16  13   5  10  16   6
9  18   7  16  10  17  11  11  12   1   9

In [12]:
df[df<5]=np.nan
print(df.isnull().sum(axis=1))

0    3
1    4
2    2
3    5
4    2
5    5
6    1
7    3
8    0
9    1
dtype: int64

In [21]:
serie = ['a','b','c','a','c','a','g']
def remove_duplicates(lst):
    return pd.DataFrame(lst).drop_duplicates().reset_index(drop=True)

display(remove_duplicates(serie))

   0
0  a
1  b
2  c
3  g